/packages/
riderModule.iml
/_ReSharper.Caches/
bin/
obj/
riderModule.iml
/_ReSharper.Caches/
logs/
*.Development.json
.idea/
.vs/
.vscode/
.vscode-test/
.env
Migrations/
appsettings.Development.json
aws-config.txt
.logs/
*.user
